gunicorn
django
djangorestframework
django-cors-headers
django-heroku
django-anymail
django-picklefield
django-storages
python-dotenv
python-decouple
requests
psycopg2-binary
unipath
whitenoise
boto3
unidecode
